.header-container{
  height: 50px;
  max-width: 1500px;
  background-color: rgb(89, 94, 108);
  .logo{
    width: 150px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
  }
  .menu-wrap{
    margin-left: 150px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(89, 94, 108);
    border-bottom: none;
    .menuItem{
      text-align: center;
    }
  }
}